<div class="container">
  <div class="card border-0 mt-3 p-3">

    <app-alert-demo></app-alert-demo>

    <hr>

    <sng-table (pageChange)="loadData($event)" [paginationConfig]="{defaultPageSize: 1}">
      <sng-table-column>
        <th *sngTableHeader>ID</th>
        <td *sngTableRow="let row">{{ row.id }}</td>
      </sng-table-column>
      <sng-table-column sort="title">
        <th *sngTableHeader>Title</th>
        <td *sngTableRow="let row">{{ row.title }}</td>
      </sng-table-column>
      <sng-table-column sort="body">
        <th *sngTableHeader>Body</th>
        <td *sngTableRow="let row">{{ row.body }}</td>
      </sng-table-column>
    </sng-table>
  </div>
</div>
